.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 1% 0%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 5px;
}

.input-column {
    display: flex;
}

.textarea-container {
    display: block;
    height: 100%;
}

.textarea-container > textarea {
    resize: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: black;
    color: white;
    padding: 3% 0% 0% 5%;
    font-size: 100%;
    font-family: "Times New Roman",Georgia,Serif;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    /*font-family: monospace, monospace; */
    font-family: 'JetBrains Mono';
    /*height: 100%;
    overflow: hidden; */
}


.output-column {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-column: column;
}


.tabs {
    display: flex;
    height: 2em;
    border-bottom: 1px solid black; 
}

.tab {
    height: 100%;
    padding: 0px 5px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.active {
    color: black;
    border-bottom: 3px solid red; 
}

.inactive {
    color: gray;
}

.output-container {
    height: 90%;
    overflow: auto;
}

.output-container > * {
    padding: 0% 0% 0% 5%;
}


.settings {
    align-items: center;
    height: 10%;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}

.settings > * {
    margin: 0% 1%;

}

.settings > .error-message {
    color: red;
}





