.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 99vh;
}

.main > * {
    height: 100%;
    overflow: auto;
}

.nav-wrapper {
    width: 10em;
}

.main-wrapper {
    margin: 0 0 0 1em;
    width: 100%;
}

