.container {
}

.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.nav-wrapper {
    width: 25em;
    height: 100%;
    overflow: auto;
}

.main-wrapper {
    padding: 1em;
    width: 100%;
    overflow: auto;
}

//@media only screen and (max-width: 600px) {
//  body {
//    background-color: lightblue;
//  }
//}
