@import 'styles/colors';

.nav-container {
    display: flex;
    flex-direction: roll;
    width: 100%;
    margin: 1em 0;

    .nav-item {
        width: 50%;
        color: $grey10;

        .nav-name {
            text-decoration: none;
            color: $blue6;
        }

        .nav-name:hover {
            color: $grey0;
            background-color: $blue4;
        }
    }
}

