@import '/styles/colors';

.nav {
    height: 100%;
    over-flow: scroll;
    padding: 0 0 0 10%;
    line-height: 150%;
}

.section-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.section-name {
    white-space: nowrap;
}

.level-1 {
    padding: 0;
    li {
        margin: 0 0 1em 0;
        a {
            color: $blue6;
            font-size: 120%;
        }
        a:hover {
            background-color: $blue4;
            color: $grey0;
        }
    }
}

.level-2 { 
    padding: 0 0 0 1em;
    li {
        margin: 0;
        a {
            color: $grey10;
            font-size: 100%;
        }
    }
}

a.section-name {
    font-weight: bold;
    text-decoration: none;
}

.menu-button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav {
        position: fixed;
        height: auto;
        width: 100%;
        padding: 0 0 0 1em;
        line-height: 150%;
    }

    .menu-button {
        position: fixed;
        display: block;
        text-align: right;
        padding: 0 2em 0 0;
        display: block;
        right: 0;
        top: 0;
    }

    .nav-wrapper {
        height: 100vh;
        overflow: scroll;
        background-color: $grey0;
    }
}

