// https://coolors.co/f2f6d0-d0e1d4-d9d2b6-e4be9e-71697a
// https://mdigi.tools/color-shades

$blue0: #eef1f9;
$blue1: #ccd5ed;
$blue2: #a9b8e1;
$blue3: #879cd5;
$blue4: #6580c9;
$blue5: #4364bc;
$blue6: #36529a;
$blue7: #2a3f78;
$blue8: #1e2d56;
$blue9: #121b33;
$blue10: #060911;

$grey0: #f3f3f3;
$grey1: #dcdcdc;
$grey2: #c5c5c5;
$grey3: #aeaeae;
$grey4: #979797;
$grey5: #808080;
$grey6: #686868;
$grey7: #515151;
$grey8: #3a3a3a;
$grey9: #232323;
$grey10: #0c0c0c;

$green0: #f1f6f2;
$green1: #d5e4d8;
$green2: #b8d2be;
$green3: #9cc0a4;
$green4: #80ae8a;
$green5: #639c71;
$green6: #517f5c;
$green7: #3f6348;
$green8: #2d4733;
$green9: #090e0a;
$green10: #090e0a;

$yellow0: #fafbec;
$yellow1: #eff4c5;
$yellow2: #e4ec9e;
$yellow3: #d9e577;
$yellow4: #cfdd50;
$yellow5: #c4d629;
$yellow6: #a0af22;
$yellow7: #7d881a;
$yellow8: #596113;
$yellow9: #353a0b;
$yellow10: #121304;

$red0: #faf3ed;
$red1: #f0dbc9;
$red2: #e6c2a4;
$red3: #dcaa80;
$red4: #d2925c;
$red5: #c77938;
$red6: #a3632d;
$red7: #7f4d23;
$red8: #5b3719;
$red9: #36210f;
$red10: #c77938;
